<h2>Agregar Película</h2>
<hr />
<form>
  <div class="form-group row">
    <div class="col-sm-10">
      <label for="titleInmput" class="col-sm-2 col-form-label">Título</label>
      <input
        type="text"
        class="form-control"
        id="titleInmput"
        placeholder="Título"
      />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <label for="hrefInmput" class="col-sm-2 col-form-label">Link</label>
      <input
        type="text"
        class="form-control"
        id="hrefInmput"
      />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <label for="yearInput" class="col-sm-2 col-form-label">Año</label>
      <input type="number" class="form-control" id="yearInput" />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <label for="extractInput" class="col-sm-2 col-form-label">Extracto</label>
      <textarea class="form-control" id="extractInput" rows="3"></textarea>
    </div>
  </div>
  <h4>Actores</h4>
  <div class="form-group row">
    <h4>Nro: 1</h4>
    <div class="col-sm-5">
      <label for="firstNameInput" class="col-sm-2 col-form-label">Nombre</label>
      <input type="text" class="form-control" id="firstNameInput" />
    </div>
    <div class="col-sm-5">
      <label for="lastNameInput" class="col-sm-2 col-form-label">Apellido</label>
      <input type="text" class="form-control" id="lastNameInput" />
    </div>

    <div class="col-sm-2">
      <button type="button" class="btn btn-info"><i class="bi-plus"></i></button>
    </div>
  </div>
</form>
