<h2>Lista de Películas</h2>
<hr />
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Año</th>
        <th scope="col">Genero</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Arma Mortal</td>
        <td>1984</td>
        <td>Acción, Comedia, Suspenso</td>
        <td>
            <button type="button" class="btn btn-info"><i class="bi-pencil"></i></button>
        </td>
      </tr>
    </tbody>
  </table>